@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.select-item-num {
  font-size: 14px;
  color: rgba(24, 28, 47, 0.3);
  margin-left: 10px;
}
.paging {
  margin-top: 20px;
  padding-bottom: 6px;
}
/* table */
/* 表格线 */
.el-table--border, .el-table--group { border-color: rgb(209, 206, 206); }
.el-table--border:after, .el-table--group:after, .el-table:before { background-color:rgb(209, 206, 206); }                    
.el-table td, .el-table--border th,.el-table th.is-leaf { border-bottom-color: rgb(209, 206, 206);}                  
.el-table--border td, .el-table--border th { border-right-color:rgb(209, 206, 206);}
/*  斑马纹表格背景 */
.el-table--striped .el-table__body tr.el-table__row--striped td { background:rgb(228, 228, 228)}

// main-container global css
.no-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
}
.flex {
  display: flex;
}
.app-container {
  padding: 20px;
}
.width80 {
  width: 80%;
}
.width81 {
  width: 81%;
}
.width90 {
  width: 90%;
}
.w200 {
  width: 200px;
}
.w300 {
  width: 300px;
}
.w368 {
  width: 368px;
}
.width-full {
  width: 100%;
}
.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.maxlength {
  height: 20px;
  line-height: 20px;
  float:right;
  color:#999;
}
.content-add {
  padding-top: 5px;
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
}
.add-txt {
  font-size: 14px;
  color: rgba(24, 28, 47, 0.3);
}
.dialog-btn-left ,.dialog-btn-right {
  display: inline-block;
  border: 1px solid #e6e6e6;
  background: #fafafa;
  border-radius: 6px;
  width: 120px;
  height: 32px;
  line-height: 32px;
  font-size: 13px;
    font-family: PingFangSC-Regular, PingFang SC;
    color: #666666;
    text-align: center;
    cursor: pointer;
    span {
      width: 120px;
      height: 32px;
      font-size: 13px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      line-height: 20px;
    }
    &:hover {
      width: 120px;
      height: 32px;
      background: #FF5338 ;
      border-radius: 6px;
      color: #fff;
    }
}

.dialog-btn-right {
  margin-left: 20px;
}
//小对话框
.dialog-qd-min ,.dialog-qx-min {
  display: inline-block;
  border: 1px solid #e6e6e6;
  background: #fafafa;
  border-radius: 6px;
  width: 58px;
  height: 32px;
  line-height: 32px;
  font-size: 13px;
  font-family: PingFangSC-Regular, PingFang SC;
  color: #666666;
  text-align: center;
  text-align:center;
  cursor: pointer;
    span {
      width: 58px;
      height: 32px;
      font-size: 13px;
      font-weight: 400;
      line-height: 32px;
    }
    &:hover {
      width: 58px;
      height: 32px;
      background: #FF5338 ;
      border-radius: 6px;
      color: #fff;
    }
}

.dialog-qx-min {
  margin-left: 20px;
}
.dialog-footer-min {
  display: flex;
  justify-content: center;
  align-content: center;
}
.two-btn {
  width: 90px;
height: 40px;
background: #FAFAFA;
border-radius: 6px;
border: 1px solid #E6E6E6;
}
.two-btn-fileupload {
  background: #FF5338 ;
  color:#fff;
}
.two-btn-fileupload-label {
  margin-left: 10px;
  color:#666;
} 
.upload-content {
  width:90px;
  height: 40px;
}

//设置取消按钮向右浮动，左magin为10px，即与确定按钮间距为10px
.btn-custom-cancel {
  float: right;
  margin-left: 10px;
  background: red;
}
.btn-custom-confirm , .btn-custom-cancel{
  background: #fff !important;
  border:1px solid #e6e6ee !important;
  color:#666 !important;
  &:hover {
    background: #FF5338  !important;
  border:1px solid #FF5338  !important;
  color:#fff !important;
  }

}

//dashboard页面

// 查看标注详情
// 按钮
.btn-check {
  height: 32px;
  padding: 0 10px;
}
.btn-check {
  display: inline-block;
  border: 1px solid #FF5338;
  background: #fff;
  border-radius: 6px;
  line-height: 32px;
  font-size: 13px;
  font-family: PingFangSC-Regular, PingFang SC;
  color: #FF5338;
  text-align: center;
  text-align:center;
  cursor: pointer;
    span {
      height: 32px;
      font-size: 13px;
      font-weight: 400;
      line-height: 32px;
    }
    &:hover {
      background: #FF5338 ;
      border-radius: 6px;
      color: #fff;
    }
}

.breadcrumb-container {
  float: left;
  padding-left: 20px;
  font-family: PingFangSC-Regular;
  font-size: 10px;
  color: #999999;
  letter-spacing: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.opacity-0 {
  border: 0;
  opacity: 0 !important;
  background-color: #3388ff;
}
.opacity-half {
  border: 0;
  opacity: 0 !important;
}
/* 标注页通用 */
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
    -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  box-shadow: 0 2px 6px 0 rgba(54,102,228,0.32);
  border-radius: 3px;
  font-size: 14px;
  padding: 7px 15px;
  outline: none;
  border: none;
  &.abandon {
    color: #e6a23c;
    background: #fdf6ec;
    border: 1px solid #f5dab1;
  }
  &.save-btn {
    color: #67c23a;
    background: #f0f9eb;
    border: 1px solid #c2e7b0;
  }
  &.normal {
    color: #606266;
    background: #fff;
    border: 1px solid #FF5338;
  }
}
.btn-primary {
  color: #fff;
  background-color: #FF5338 ;
  border-color: #2e6da4;
}

.tab-box {
  position: fixed;
  top: 0;
  left: 25px;
  z-index: 10;
  width: 160px;
  text-align: center;
  background: #fff;
  .el-radio-button {
    margin: 2px;
    .el-radio-button__inner {
      width: 72px;
      border: 1px solid #FF5338;
      border-radius: 4px;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .el-radio-button__orig-radio:checked+.el-radio-button__inner {
    box-shadow: none;
  }
}
.red-txt {
  color: red;
  &:hover {
    color: rgba(255, 0, 0, 0.8);
  }
}

.el-input--medium .el-input__inner {
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
}

.el-table::before{height: 0;}
// .el-table{border-radius: 6px;border: 1px solid #3E3F54;}
// .el-table--border:after,
// .el-table--group:after,
// .el-table,.el-table thead{color: #FFF;}
// .el-table th{background-color:#33354B}
// .el-table tr{background-color:#252737}
// .el-table th{overflow:hidden;-ms-user-select:none;user-select:none;background-color:#33354B}
// .el-table td,.el-table th.is-leaf{border-bottom:1px solid #3E3F54}
// .el-table td, .el-table--border th, .el-table th.is-leaf{border-bottom-color:#3E3F54;border-left: none;border-right: none;}
// .el-table th.is-sortable{cursor:pointer}.el-table th{overflow:hidden;-ms-user-select:none;user-select:none;background-color:#33354B}
// .el-table--border td,.el-table--border th,.el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed{border-right:1px solid #3E3F54}.el-table--border th.gutter:last-of-type{border-bottom:1px solid #3E3F54;border-bottom-width:1px}.el-table--border th,.el-table__fixed-right-patch{border-bottom:1px solid #3E3F54}.el-table__fixed,.el-table__fixed-right{position:absolute;top:0;left:0;overflow-x:hidden;overflow-y:hidden;-webkit-box-shadow:0 0 10px rgba(0,0,0,.12);box-shadow:0 0 10px rgba(0,0,0,.12)}.el-table__fixed-right::before,.el-table__fixed::before{content:'';position:absolute;left:0;bottom:0;width:100%;height:1px;background-color:#EBEEF5;z-index:4}.el-table__fixed-right-patch{position:absolute;top:-1px;right:0;background-color:#303133}.el-table__fixed-right{top:0;left:auto;right:0}.el-table__fixed-right .el-table__fixed-body-wrapper,.el-table__fixed-right .el-table__fixed-footer-wrapper,.el-table__fixed-right .el-table__fixed-header-wrapper{left:auto;right:0}.el-table__fixed-header-wrapper{position:absolute;left:0;top:0;z-index:3}.el-table__fixed-footer-wrapper{position:absolute;left:0;bottom:0;z-index:3}.el-table__fixed-footer-wrapper tbody td{border-top:1px solid #3E3F54;background-color:#3A3D58;color:#FFF}.el-table__fixed-body-wrapper{position:absolute;left:0;top:37px;overflow:hidden;z-index:3}.el-table__body-wrapper,.el-table__footer-wrapper,.el-table__header-wrapper{width:100%}.el-table__footer-wrapper{margin-top:-1px}.el-table__footer-wrapper td{border-top:1px solid #3E3F54}.el-table__body,.el-table__footer,.el-table__header{table-layout:fixed;border-collapse:separate}.el-table__footer-wrapper,.el-table__header-wrapper{overflow:hidden}.el-table__footer-wrapper tbody td,.el-table__header-wrapper tbody td{background-color:#3A3D58;color:#FFF}.el-table__body-wrapper{overflow:hidden;position:relative}.el-table__body-wrapper.is-scrolling-left~.el-table__fixed,.el-table__body-wrapper.is-scrolling-none~.el-table__fixed,.el-table__body-wrapper.is-scrolling-none~.el-table__fixed-right,.el-table__body-wrapper.is-scrolling-right~.el-table__fixed-right{-webkit-box-shadow:none;box-shadow:none}.el-picker-panel,.el-table-filter{-webkit-box-shadow:0 2px 12px 0 rgba(0,0,0,.1)}.el-table__body-wrapper .el-table--border.is-scrolling-right~.el-table__fixed-right{border-left:1px solid #3E3F54}.el-table .caret-wrapper{display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:34px;width:24px;vertical-align:middle;cursor:pointer;overflow:initial;position:relative}.el-table .sort-caret{width:0;height:0;border:5px solid transparent;position:absolute;left:7px}.el-table .sort-caret.ascending{border-bottom-color:#C0C4CC;top:5px}.el-table .sort-caret.descending{border-top-color:#C0C4CC;bottom:7px}.el-table .ascending .sort-caret.ascending{border-bottom-color:#409EFF}.el-table .descending .sort-caret.descending{border-top-color:#409EFF}.el-table .hidden-columns{position:absolute;z-index:-1}.el-table--striped .el-table__body tr.el-table__row--striped td{background:#FAFAFA}.el-table--striped .el-table__body tr.el-table__row--striped.current-row td{background-color:#323c47}.el-table__body tr.hover-row.current-row>td,.el-table__body tr.hover-row.el-table__row--striped.current-row>td,.el-table__body tr.hover-row.el-table__row--striped>td,.el-table__body tr.hover-row>td{background-color:#3A3D58}.el-table__body tr.current-row>td{background-color:#323c47}.el-table__column-resize-proxy{position:absolute;left:200px;top:0;bottom:0;width:0;border-left:1px solid #3E3F54;z-index:10}.el-table__column-filter-trigger{display:inline-block;line-height:34px;cursor:pointer}.el-table__column-filter-trigger i{color:#909399;font-size:12px;-webkit-transform:scale(.75);transform:scale(.75)}.el-table--enable-row-transition .el-table__body td{-webkit-transition:background-color .25s ease;transition:background-color .25s ease}.el-table--enable-row-hover .el-table__body tr:hover>td{background-color:#3A3D58}.el-table--fluid-height .el-table__fixed,.el-table--fluid-height .el-table__fixed-right{bottom:0;overflow:hidden}

.flex-from {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
